<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .main {
            width: 1280px;
            margin: 0 auto;
        }

        .main h3 {
            color: red;
            margin-bottom: 30px;
        }

        .errorlist {
            color: red;
            list-style: none;
        }
    </style>
</head>
<body>
<div class="main">
    <h3>用户登录</h3>
    <form action="." method="post">
        {% csrf_token %}
        <div>
            {{ form.phone.label }}
            {{ form.phone }}
            {{ form.phone.errors }}
        </div>
        <div>
            {{ form.username.label }}
            {{ form.username }}
            {{ form.username.errors.as_text }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}
            {{ form.password.errors.as_text }}
        </div>
        <div>
            {{ form.non_field_errors }}
        </div>
        <br/>
        <input type="submit" value="登录">

    </form>
</div>
</body>
</html>